name: Run Cypress

on:
  push:
    branches: [dev]
 

jobs:
  cypress-test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm install -g pm2
    - run: npm run build --if-present
    - run: npm install cypress --save-dev
    - run: npm install --save-dev cypress-cucumber-preprocessor
    - run: npm run init-adm
    - run: npm run init-sds & npx cypress run 